<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>
		<menuitem name="SITRAD - VF" id="sitrad_menu_root"  web_icon="sitrad,static/description/icon.png"/>

    	<menuitem name="Reportes" id="sitrad_conf_reportes" parent="sitrad_menu_root" sequence="1"/>
    	<!-- Sub Actores -->    
    	<menuitem name="Actores" id="sitrad_conf_actores" parent="sitrad_menu_root" sequence="3"/>
    	<!-- Sub Parametros -->    
    	<menuitem name="IRC" id="sitrad_menu_irc" parent="sitrad_menu_root" sequence="4"/>

    	<menuitem name="Parámetros" id="sitrad_conf_parametros" parent="sitrad_menu_root" sequence="5"/>
    	
	</data>
</odoo>